

<ion-content >
  <ion-item> 
    <ion-input  type="text" labelPlacement="floating" label="Filtra tu sede" ></ion-input>
  </ion-item>

  <ion-item> 
    <ion-input  type="text" labelPlacement="floating" label="Filtra tu comuna" ></ion-input>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let viaje of viajes">
      <ion-label>
        <p>Conductor: {{viaje.conductor}}</p>
        <p>Destino: {{ viaje.nombre_destino }}</p>
        <p>Valor: ${{ viaje.valor }}</p>
      </ion-label>
      <ion-button slot="end" color="warning">Reservar</ion-button>
    </ion-item>
  </ion-list>