<ion-content>
    <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
          <ion-title>Detalle viaje</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <ion-card>
          <div id="map_detalle"></div>
          <ion-card-header>
            <ion-card-title>Mapa del destino</ion-card-title>
            <ion-card-subtitle>{{viaje.nombre_destino}}</ion-card-subtitle>
            <ion-card-subtitle>Valor: {{viaje.valor | currency}}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            
          </ion-card-content>
          <ion-button color="success" size="block" (click)="tomar_viaje()" *ngIf="viaje.asientos_disp !==0">Tomar viaje</ion-button>
        </ion-card>
      </ion-content>
</ion-content>
