
  ion-item {
    margin-bottom: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
    box-sizing: border-box;
  }

  
  ion-card {
  width: 100%; 
  max-width: 600px; 
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  }


