<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-title>Point on Point</ion-card-title>

    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>

    <div class="wrapper">
      <b>Click on a shape to see the ripple</b>
    
      <div class="ion-activatable ripple-parent custom-parent">
        registrarse
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    
      <div class="ion-activatable ripple-parent">
        Iniciar sesion
        <ion-ripple-effect class="Iniciar sesion"></ion-ripple-effect>
      </div>
    </div>
</ion-content>
