<ion-content>
    <div value="viajes">
        <ion-item slot="header" color="light">
          <ion-label>viajes</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-list *ngFor="let v of viajes">
            <ion-item>
              <ion-label>
                <strong>{{v.nombre_destino}}</strong><br />
                <ion-note color="medium" class="ion-text-wrap">
                  Asientos disponibles: {{v.asientos_disp}}
                </ion-note>
              </ion-label>
              <div class="metadata-end-wrapper" slot="end">
                <ion-note color="medium">{{v.valor | currency}}</ion-note>
              </div>
            </ion-item>
          </ion-list>
        </div>
      </div> 
</ion-content>
