<ion-content>
    <div value="viajes">
        <ion-item slot="header">
          <ion-label>Viajes disponibles</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-list *ngFor="let v of viajes">
            <ion-item>
              <ion-label>
                <h3>{{v.nombre_destino}}</h3><br />
                <ion-note color="medium" class="ion-text-wrap">
                  Asientos disponibles: {{v.asientos_disp}}
                </ion-note>
              </ion-label>
              <div class="metadata-end-wrapper" slot="end">
                <ion-note color="medium">{{v.valor | currency}}</ion-note>
              </div>
              <ion-note slot="end" >
                <ion-button color="warning" routerLink="/home/reservas/detalle-viaje/{{v.id}}" >Ver viaje</ion-button>
              </ion-note>
              <ng-template></ng-template>
            </ion-item>
          </ion-list>
        </div>
      </div> 
</ion-content>
