<ion-content>
  <div class="outer-container">
    

    <div class="login-container">
      <ion-card>
        <div class="imagen-logo">
          <img src="assets/icon/POINT ON POINtt PGN-01.png" class="logo" />
        </div>
        <ion-card-header>
          <ion-card-title >Iniciar Sesión</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
              <ion-input [(ngModel)]="correo" id="email" name="email" type="email" fill="solid" label="Correo Electrónico" labelPlacement="floating" placeholder="email@duocuc.cl"></ion-input>
            </ion-item>
            <ion-item>
              <br>
              <ion-input [(ngModel)]="contrasena" id="password" name="password" type="password" fill="solid" label="Contraseña" labelPlacement="floating"></ion-input>
              <br>
            </ion-item>
            <ion-button (click)="login()" expand="block" shape="round" type="submit">Iniciar Sesión</ion-button>
          
          <p style="text-align:center;"> ¿No tienes cuenta? <a routerLink="/registrarse">Registrarse</a>
          || <a style="text-align:center;" routerLink="/olvido"> Olvide mi contraseña </a>
          </p>
          
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
