  
  .imagen-logo {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%; 
    height: 100%; 
  }
  
  .logo {
    max-width: 400px; /*  tamaño   imagen */
    height: auto; /*   proporción de aspecto (no mover) */
  }



  ion-card-header {
    display: flex;
    justify-content: center; 
    align-items: center;     
    text-align: center;      
    margin-bottom: 16px;
  }

  ion-button {
    margin-top: 16px;
    --background: linear-gradient(to right, #bb03ac, #000000); /* Gradiente de colores */
    --background-hover: linear-gradient(to right, #bb03ac, ##000000); /* Color al pasar el ratón */
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 16px; /* Añadir padding lateral */
  }


  ion-item {
    margin-bottom: 16px;
    --padding-start: 16px;
    --padding-end: 16px;
    box-sizing: border-box;
  }

  
  ion-card {
  width: 100%; 
  max-width: 400px; /* Tamaño de lo de dentro de la tarjeta  */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}


.login-container {
    width: 100%; 
    max-width: 6000px; /* Mas pequeña la tarjeta o mas grande */ 
    display: flex;
    justify-content: center;
    margin: auto; 
  }

  