

<ion-content>
  <div class="outer-container">
    <div class="imagen-logo">
      <img src="assets/icon/POINT ON POIN_20240923_001059_0000.png" class="logo" />
    </div>
 

    <div class="login-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title >Iniciar Sesión</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
              <ion-input [(ngModel)]="email" id="email" name="email" type="text" fill="solid" label="Correo Electrónico" labelPlacement="floating" placeholder="email@duocuc.cl"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="password" id="password" name="password" type="password" fill="solid" label="Contraseña" labelPlacement="floating"></ion-input>
            </ion-item>
            <ion-button (click)="login()" expand="block" shape="round" type="submit">Iniciar Sesión</ion-button>
          <br>
          <p style="text-align:center;"> ¿No tienes cuenta? <a routerLink="/registrarse">Registrarse</a>
          || <a style="text-align:center;" routerLink="/recuperar"> Olvide mi contraseña </a>
          </p>
          
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
