<ion-header>
  <ion-toolbar>
    <img 
      src="assets/icon/POINT ON POINtt PGN-01.png" 
      alt="Logo de la aplicación" 
      class="imagen-logo" 
    />
    <ion-buttons slot="end">
      <ion-button (click)="logout()" aria-label="Cerrar sesión">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="titulo">
      <h3>¡Bienvenido/a {{usuario.name}}!</h3>
      <h5>Te estábamos esperando, ¿A dónde vamos?</h5>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Clima de Hoy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Verificamos si hay datos de tiempo disponibles -->
      <div *ngIf="tiempo && tiempo.day1">
        <p><strong>Fecha:</strong> {{ tiempo.day1.date }}</p>
        <p><strong>Temperatura Máxima:</strong> {{ tiempo.day1.temperature_max }} ºC</p>
        <p><strong>Temperatura Mínima:</strong> {{ tiempo.day1.temperature_min }} ºC</p>
        <p><strong>Condición:</strong> {{ tiempo.day1.text }}</p>
        <p><strong>Humedad:</strong> {{ tiempo.day1.humidity }} %</p>
        <p><strong>Viento:</strong> {{ tiempo.day1.wind }} km/h</p>
      </div>

      <!-- Si no hay datos, mostramos un mensaje de carga -->
      <div *ngIf="!tiempo || !tiempo.day1">
        <p>Cargando los datos del clima...</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      
      <ion-tab-button tab="viaje">
        <ion-icon name="file-tray-full-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="reservas">
        <ion-icon name="calendar-number-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="crear-viajes" *ngIf="usuario.tiene_auto=='si'" >
        <ion-icon name="cloud-upload-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="perfil">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="administrar-fire" *ngIf="usuario.tipo_usuario=='Administrador'">
        <ion-icon name="key-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
