<ion-header>
  <ion-toolbar>
    <img 
      src="assets/icon/POINT ON POINtt PGN-01.png" 
      alt="Logo de la aplicación" 
      class="imagen-logo" 
    />
    <ion-buttons slot="end">
      <ion-button (click)="logout()" aria-label="Cerrar sesión">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="titulo">
      <h3>¡Bienvenido/a {{usuario.name}}!</h3>
      <h5>Te estábamos esperando, ¿A dónde vamos?</h5>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      
      <ion-tab-button tab="reservas">
        <ion-icon name="file-tray-full-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="crear-viajes" *ngIf="usuario.tiene_auto=='si'" >
        <ion-icon name="cloud-upload-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="perfil">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="administrar" *ngIf="usuario.tipo_usuario=='Administrador'">
        <ion-icon name="key-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
