
ion-item {
  margin-bottom: 20px;
  --padding-start: 20px;
  --padding-end: 20px;
  box-sizing: border-box;
}


ion-card {
width: 100%; 
max-width: 400px; 
border-radius: 20px;
display: flex;
flex-direction: column;
box-sizing: border-box;
overflow: hidden;
margin-left: 15%;

}

.login-container {
  width: 100%; 
  max-width: 500px;
  display: flex;
  justify-content: center;
  margin: auto; 
  
}

