<ion-content> 
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Recuperar Contraseña</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h1>Ingrese su correo electronico</h1>
        <form [formGroup]="user" (ngSubmit)="submit()">
          <ion-item>
            <ion-input id="email" formControlName="email" name="email" type="text" fill="solid"  labelPlacement="floating"></ion-input>
          </ion-item>
          <ion-button expand="full" (click)="submit()">Enviar correo electrónico</ion-button>
        </form> 
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
