ion-button {
    margin-top: 50px;
    --background: linear-gradient(to right, #625bca, #625bca);

  }

  ion-item {
    margin-bottom: 10px;
    --padding-start: 15px;
    --padding-end: 15px;
    box-sizing: border-box;
  }

  
  ion-card {
  width: 100%; 
  max-width: 800px; 
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  }
.login-container {
    width: 100%; 
    max-width: 500px;
    display: flex;
    justify-content: center;
    margin: auto; 
  }